.loginWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 0 100px;
   width: 100%;
   height: 100%;
   background-color: #fff;
   h1 {
      width: 70%;
      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .idInput {
      margin-top: 20px;
      padding: 10px 20px;
      width: 100%;
      font-size: 1rem;
      border: 1px solid #666;
      border-radius: 3px;
   }
   .btnLogin {
      margin-top: 5px;
      padding: 20px 0;
      width: 100%;
      color: #666;
      font-family: "Roboto Flex", sans-serif;
      border-radius: 3px;
      background-color: #dfdfdf;
   }
}
