.btnLogin {
   display: block;
   margin-top: 5px;
   padding: 10px 0;
   width: 100%;
   color: #666;
   text-align: center;
   text-decoration: none;
   font-family: "Roboto Flex", sans-serif;
   border-radius: 3px;
   background-color: #dfdfdf;
}
